@font-face {
    font-family: main;
    src: url(fonts/Comic\ Block\ \ DEMO\ by\ Marta\ van\ Eck.ttf);
}

@font-face {
    font-family: comicSans;
    src: url(fonts/COMICSANS.TTF);
}

header {
    background-image: url(imgs/dot-pattern.jpg);
    background-size: 80%;
    background-color: #D88D00;
    background-blend-mode: soft-light;
}

li {
    font-family: comicSans;
    background-color: #FEECD8;
    border: #000 solid 3px;
    border-radius: 15px;
}

#logoImg {
    width: 80px;
    filter: drop-shadow(-6px 0px 3px #fff);
}

#logo {
    font-family: comicSans;
    color: #fff;
}


#toggler {
    background-color: #fff;
    border: #000 solid 3px;
}

main {
    height: 90vh;
}

#hero {
    background-image: url(imgs/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    /* border-bottom: #000 solid 8px; */
}

p {
    font-family: comicSans;
}

.border-dark {
    border-color: #000 !important;
}

.border-5 {
    border-width: 8px !important;
}

.rounded-3 {
    border-radius: 1.5rem !important;
}

.skewed {
    font-family: main;
    transform: skew(12deg, -12deg);
}

#heroBtn,#offerBtn {
    font-family: comicSans;
    background-color: #69131B;
    color: #fff;
    border-radius: 16px;
    border: #000 solid 4px;
    background-image: url(imgs/dot-pattern.jpg);
    background-blend-mode: overlay;
    background-size: 450%;
    transition: all 0.4s;
    letter-spacing: 2px;
}

#heroBtn:hover,#offerBtn:hover {
    background-color: #520e15;
}

.fs-xxl {
    font-size: 350%;
}

.fs-xl {
    font-size: 250%;
}

@media screen and (max-width:768px) {

    #hero {
        background-position: left top;
    }
    .rounded-3 {
        border-radius: 1.2rem !important;
    }
}

@media screen and (max-width:513px) {
    header {
    background-size: 250%;
    }

    .fs-xxl {
        font-size: 290%;
    }
    
    .fs-xl {
        font-size: 190%;
    }
}

#offers {
    background-image: url(imgs/section-bg-orange.png);
    background-position: center;
    background-attachment: fixed;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: #30C842;
}

h1 {
    font-family: main;
}

#offerBtn{
    background-size: 150%;
}