@font-face {
    font-family: main;
    src: url(fonts/Comic\ Block\ \ DEMO\ by\ Marta\ van\ Eck.ttf);
}

@font-face {
    font-family: comicSans;
    src: url(fonts/COMICSANS.TTF);
}

header {
    background-image: url(imgs/dot-pattern.jpg);
    background-size: 80%;
    background-color: #D88D00;
    background-blend-mode: soft-light;
    border-bottom: #000 solid 6px;
}

li {
    font-family: comicSans;
    background-color: #FEECD8;
    border: #000 solid 3px;
    border-radius: 15px;
}

#logoImg {
    width: 80px;
    filter: drop-shadow(-6px 0px 3px #fff);
}

#logo {
    font-family: comicSans;
    color: #fff;
}


#toggler {
    background-color: #fff;
    border: #000 solid 3px;
}

main {
    height: 90vh;
}

#hero {
    background-image: url(imgs/hero-bg.jpg);
    background-size: cover;
    background-position: center;

}

h1,h2, #heroBtn {
    font-family: main;
    transform: skew(12deg, -12deg);
}

#heroBtn {
    font-family: comicSans;
    background-color: #69131B;
    color: #fff;
    border-radius: 16px;
    border: #000 solid 4px;
    background-image: url(imgs/dot-pattern.jpg);
    background-blend-mode: overlay;
    background-size: 450%;
    transition: all 0.4s;
    letter-spacing: 2px;
}

#heroBtn:hover {
    background-color: #520e15;
}

.fs-xxl {
    font-size: 350%;
}

.fs-xl {
    font-size: 250%;
}